*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	background: #f3f5f9;
	background-repeat: no-repeat;
}
.wrapper {
	display: flex;
	position: relative;

}
.wrapper .sidebar {
	position: fixed;
	width: 200px;
	height: 1000px;
	background-image: url(images/sidebarbck.jpg);
	background-attachment: fixed;
	  background-size: 80%;

	padding: 30px 0;
}
.wrapper .sidebar h2{
    color: #fff;
	text-transform: uppercase;
    text-align: center;
	margin-bottom: 30px;

}
.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	border-top: 1px solid rgba(147,203,214,0.1);
}

.wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
}
.wrapper .sidebar ul li a .fas{
	width: 25px;
}

.wrapper .sidebar ul li:hover{
	background-image: url(images/hoverbck.png);
	background-size: 43%;
	background-attachment: fixed;
}
.wrapper .sidebar ul li:hover a{
	color: #EA5768;
}  
.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
	
}
.background{
	background-image: url(images/1background.jpg);
	background-attachment: fixed;
}
.wrapper .main_content .header {
	padding: 20px;
	background: black;
	opacity: 0.5;
	color: #717171;
	border-bottom: 3px solid #E3757F;
	margin-left: 0px;
	
}
.wrapper .main_content .border{
    border: outset #93cbd6 4px;
	border-top-color: ;
	margin: 0x;
	background: rgba(0, 0, 0, 0.6);
}
.wrapper .main_content .mystory {
    margin-top: 150px;
	margin-left: 40px;
	width: 49%;
    display: flex;
	
	
}

.wrapper .main_content .mystory .text1 {
    
	padding: 0px 25px;
	background: rgba(12, 2, 68, 0.5);
	font-size: 28px;
	color: white;
	line-height: 50px;
	
}

.wrapper .main_content .mystory .Image1 {
    border-left: 4px solid #EA5768;
	padding-left: 40px;
	margin-left: 15px;
    width: 50%;
	height

}
.wrapper .main_content .mystory .Image1:hover{
	border-left: 4px solid #FF9BA7;
}
.wrapper .main_content .mystory2 {
  
    margin-left: 40px;
    width: 50%;
	display: flex;
	width: 70%;
}

.wrapper .main_content .mystory2 .text2 {
	
	padding: 0px 25px;
	background: rgba(12, 2, 68, 0.5);
	font-size: 28px;
	color: white;
	line-height: 50px;
	
	
}
.wrapper .main_content .mystory2 .Image2 {
	 border-left: 4px solid #EA5768;
	 padding-left: 40px;
	 padding-top: 160px;
	 margin-left: 15px;

}

.wrapper .main_content .mystory2 .Image2:hover{
	border-left: 4px solid #FF9BA7;
}

.wrapper .main_content .mystory3 {
	margin-left: 40px;
    width: 95.6%;
	display:flex;
}

.wrapper .main_content .mystory3 .text3 {
	padding: 0px 25px;
	background: rgba(12, 2, 68, 0.5);
	font-size: 28px;
	color: white;
	line-height: 50px;

}
.wrapper .main_content .mystory3 .Image3{
	 border-left: 4px solid #EA5768;
	 padding-left: 40px;
	 margin-left: 15px;
}

.wrapper .main_content .mystory3 .Image3:hover{
	border-left: 4px solid #FF9BA7;
}